.mainNav {
    background-color: rgb(var(--secondaryColor));
    color: #fff;
    fill: #fff;
    display: grid;
    padding: 0rem 1rem;
    position: sticky;
    top: 0;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    z-index: 999;
}

.mainNav svg {
    width: var(--regularSvg);
    aspect-ratio: 1/1;
}

.mainMenu {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    white-space: nowrap;
    height: 4rem;
    background-color: rgb(var(--secondaryColor));
}

.mainMenuItem {
    position: relative;
    padding: 1rem;
    cursor: pointer;
}

.mainMenuItem:hover>.subMenu {
    display: block;
}

.mainMenuItem:hover>a,
.mainMenuItem:hover>svg {
    color: rgb(var(--primaryColor));
    fill: rgb(var(--primaryColor));
}

.subMenu {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: rgb(var(--secondaryColor));
}

.subMenuItem {
    padding: 1rem;
    cursor: pointer;
}

.subMenuItem:hover>.subSubMenu {
    display: block;
}

.subMenuItem:hover>a,
.subMenuItem:hover>svg {
    color: rgb(var(--primaryColor));
    fill: rgb(var(--primaryColor));
}

.subSubMenu {
    display: none;
    position: absolute;
    top: 0rem;
    left: 0rem;
    translate: 100% 0%;
    background-color: rgb(var(--secondaryColor));

}

.subSubMenuItem {
    padding: 1rem;
    cursor: pointer;
}

.subSubMenuItem:hover>a,
.subSubMenuItem:hover>svg {
    color: rgb(var(--primaryColor));
    fill: rgb(var(--primaryColor));
}

@media only screen and (min-width: 1024px) {
    /* desktop */

}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
    /* tablet */

}

@media only screen and (max-width: 1023px) {

    /* All but desktop */
    .mainNav {
        padding: 1rem;
        position: relative;
    }

    .mainMenu {
        display: grid;
        justify-content: stretch;
        grid-auto-flow: row;
        height: auto;
        max-height: 60vh;
        overflow-y: auto;
        position: absolute;
        top: 3rem;
        left: 50%;
        translate: -50% 0%;
        width: 80%;
        border: 1px solid black;
    }

    .mainMenuItem {
        position: relative;
        padding: 1rem;
        border-bottom: 1px solid #000;
    }

    .mainMenuItem:hover>.subMenu {
        display: block;
    }

    /* .mainMenuItem:hover>a {
        color: blue;
    } */

    .subMenu {
        display: block;
        position: relative;
        top: 0rem;
        left: 0rem;
    }

    .subMenuItem {
        padding: 1rem;
    }

    .subMenuItem:hover>.subSubMenu {
        display: block;
    }

    /* .subMenuItem:hover>a {
        color: blue;
    } */

    .subSubMenu {
        display: block;
        position: relative;
        top: 0rem;
        left: 0rem;
        translate: 0px 0px;
    }

    .subSubMenuItem {
        padding: 1rem;
    }

    /* .subSubMenuItem:hover>a {
        color: blue;
    } */
}