.liMain svg {
    fill: rgb(var(--whiteBlackSwitch));
}

.liMain .link,
.liMain p {
    color: rgb(var(--whiteBlackSwitch));
    transition: color 200ms;
}

.liMain:hover .link,
.liMain:hover p {
    color: rgb(var(--secondaryColor));
}

.liMain:hover:has(.link) svg {
    fill: rgb(var(--secondaryColor));
}