@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --primaryColor: rgb(0, 0, 0);
  --secondaryColor: rgb(0, 0, 0);
  --tertiaryColor: rgb(0, 0, 0);
  --backgroundColor: rgb(0, 0, 0);

  --textColor: rgb(0, 0, 0);
  --highlightColor: rgb(0, 0, 0);

  /* sizes */

  /* text */
  --giantText: 4rem;
  --largeText: 2rem;
  --mediumText: 1.3rem;
  --regularText: 1rem;

  /* svg */
  --regularSvg: 1rem;
  --smallSvg: .7rem;
}

/* @media (prefers-color-scheme: dark) {
check for this in js
} */

*,
*::before,
*::after {
  /* border: 1px solid red !important; */
}

body {
  color: rgb(var(--textColor));
  background: rgb(var(--backgroundColor))
}

h1 {
  font-size: var(--largeText);
  font-weight: bold;
}

h2 {
  font-size: var(--mediumText);
  font-weight: bold;
}

h3 {
  font-size: var(--regularText);
  font-weight: bold;
}

.makeBold {
  font-weight: bold;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.niceScrollBar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 1rem;
}

.niceScrollBar::-webkit-scrollbar-thumb {
  background: rgb(var(--primaryColor));
  border-radius: 1rem;
}

.niceScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--secondaryColor));
}


/* 1024px desktop    501px and 1023px tablet   500px phone*/