@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* sizes */
  /* text */
  --giantText: 3rem;
  --largeText: 2rem;
  --mediumText: 1.3rem;
  --regularText: 1rem;

  /* svg */
  --regularSvg: 1rem;
  --smallSvg: .7rem;
}

*,
*::before,
*::after {
  /* border: 1px solid red !important; */
}

body {}

#rootDiv {
  color: rgb(var(--textColor));
  background-color: rgb(var(--backgroundColor));
}

main {
  color: rgb(var(--textColor));
}

.convert {
  color: rgb(98, 156, 252)
}

svg {
  aspect-ratio: 1/1;
  width: var(--regularSvg);
  transition: scale 400ms;
  fill: rgb(var(--blackWhiteSwitch));
}

svg:hover {
  scale: 1.1;
}

.giantText {
  font-size: var(--giantText);
  text-align: center;
}

h1 {
  font-size: var(--largeText);
  font-weight: bold;
}

h2 {
  font-size: var(--mediumText);
  font-weight: bold;
}

h3 {
  font-size: var(--regularText);
  font-weight: bold;
}


button {
  padding: 1rem;
  background-color: rgb(var(--primaryColor));
  border-radius: 2rem;
  font-weight: bold;
  color: #fff
}

section {
  padding: 2rem 1rem;
}







.makeBold {
  font-weight: bold;
}

.highlighted {
  color: rgb(var(--highlightColor))
}

.highlightPrimaryOnHover {
  transition: color 600ms;
}

.highlightPrimaryOnHover:hover {
  color: pink;
  fill: pink
}

.floatToRight {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.niceScrollBar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 1rem;
}

.niceScrollBar::-webkit-scrollbar-thumb {
  background: rgb(var(--primaryColor));
  border-radius: 1rem;
}

.niceScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--secondaryColor));
}

.smallTransitionRotation {
  transition: rotate 600ms;
}


/* 1024px desktop    501px and 1023px tablet   500px phone*/

@media only screen and (min-width: 1024px) {
  /* desktop */

}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
  /* tablet */

}

@media only screen and (max-width: 500px) {
  /* phone */
}